<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="style.css">
<header>

</header>

<body>
  <div class="container-fluid">
      <div class="row">
            <div class="col-sm-2 bcolor2">
                <div class="mx-auto sticky">
                <h1 class="bodycolor text-center sticky"><img class="center-block" src="./assets/1.png" width="70" height="70" alt="Localeaf">LOCALEAF PRODUCE</h1>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/1.png" width="25" height="25" alt="Localeaf"> Dashboard</button>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/2.png" width="25" height="25" alt="Localeaf"> Products</button>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/3.png" width="25" height="25" alt="Localeaf"> My Cart</button>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/4.png" width="25" height="25" alt="Localeaf"> Payout</button><br><br><br><br>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/5.png" width="25" height="25" alt="Localeaf"> Profile</button>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/6.png" width="25" height="25" alt="Localeaf"> Settings</button>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/7.png" width="25" height="25" alt="Localeaf"> Logout</button><br><br><br><br>
                <button type="button" class="btn btn-block btn-lg text-left pl-4"><img src="./assets/navbar-icons/8.png" width="25" height="25" alt="Localeaf"> Help</button><br><br><br><br>
                </div>
            </div>
          <div class="col bcolor">
            <div class="container-fluid">
              <br>
              <div class="row align-contents-center">
                <div class="col-sm-7 m-3">
                  <h4>WELCOME BACK,</h4><h5><u>FILIPINO JACK RESTAURANT!</u></h5>
                </div> 

                <div class="col mt-3 bodycolor">

                  <div class="btn-group">
                    <div class="row">
                      <div class="col">
                        <div class="btn-group">
                          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="" src="./assets/person.png" width="50" height="50" alt="Person">
                            <bold>The Filipino Jack</bold>
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                          </div>
                        </div>
                        <div class="btn-group">
                          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="" src="./assets/bell.png" width="50" height="50" alt="Person">
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                    
                </div> 

              </div>
            </div>

            <hr class="divider">

            <div class="container-xl m-3">
                <div class="row m-3 border border-dark rounded">
                    <div class="col-4 text-right m-3">
                        <img class="border border-dark rounded" src="./assets/bell.png" width="300" height="300" alt="Person">
                        <br>

                        <div class="row text-right col m-3 justify-content-end">
                            <input class="form-control col" id="EA" placeholder="Quantity">
                            <button type="button" class="ml-3 btn col">Add to cart</button>
                        </div>
                        
                    </div>

                    <div class="col m-3">
                        <h1>Carrots</h1>
                        <p class="m-3">
                            Price: PHP 500.50
                            <br>
                            <br>
                            Ratings: XXXX/5
                            <br>
                            <br>
                            Delivery: 4-5 days
                            <br>

                            <br>
                            Description: 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            <br>
                        </p>
                    </div>
                </div>
            </div>

          </div>
      </div>
  </div>
</body>

</html>